In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
#pulling in data
enrolled_df = pd.read_csv("C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\enrolled_pop.csv")

In [25]:
enrolled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3144 entries, 0 to 3143
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Geography                          3144 non-null   object
 1   Geographic Area Name               3144 non-null   object
 2   County                             3144 non-null   object
 3   State                              3144 non-null   object
 4   E_Total_pop                        3144 non-null   int64
 5   child_pop                          3144 non-null   int64
 6   senior_pop                         3144 non-null   int64
 7   adult_pop                          3144 non-null   int64
 8   Total Medicaid Coverage Rate       3047 non-null   float64
 9   Child Medicaid/CHIP Coverage Rate  2967 non-null   float64
 10  Adult Medicaid Coverage Rate       3034 non-null   float64
 11  Senior Medicaid Coverage Rate      2959 non-null   float64
 12  Total Pop Enrolled                 3047 non-null   float64
 13  Child Pop Enrolled                 2967 non-null   float64
 14  Senior Pop Enrolled                2959 non-null   float64
 15  Adult Pop Enrolled                 3034 non-null   float64
 16  State_Enrollment_All               3144 non-null   float64
 17  State_Enrollment_Child             3144 non-null   float64
 18  State_Enrollment_Senior            3144 non-null   float64
 19  State_Enrollment_Adult             3144 non-null   float64
 20  adult_elig                         3144 non-null   float64
 21  State_Eligibility_Adult            3144 non-null   float64
 22  State_Pop_All                      3144 non-null   int64
 23  State_Pop_Child                    3144 non-null   int64
 24  State_Pop_Senior                   3144 non-null   int64
 25  State_Pop_Adult                    3144 non-null   int64
 26  Senior Gap                         2959 non-null   float64
 27  Child Gap                          2967 non-null   float64
 28  Adult Gap                          3034 non-null   float64
dtypes: float64(17), int64(8), object(4)
memory usage: 712.4+ KB

In [33]:
senior_gap = enrolled_df[['County', 'State', 'senior_pop', 'Senior Pop Enrolled', 'Senior Medicaid Coverage Rate',
                          'State_Enrollment_Senior', 'State_Pop_Senior', 'Senior Gap']].sort_values(by='Senior Gap', ascending=False)
senior_gap.head(5)

,County,State,senior_pop,Senior Pop Enrolled,Senior Medicaid Coverage Rate,State_Enrollment_Senior,State_Pop_Senior,Senior Gap
104,Maricopa County,Arizona,718079,7762.153536,0.012,3.016827e+05,1349934,710316.8465
612,Cook County,Illinois,806307,255608.673500,0.186,3.865184e+05,2101833,550698.3265
2625,Harris County,Texas,543463,8584.476516,0.011,8.636092e+05,3905545,534878.5235
223,San Diego County,California,493837,88832.080920,0.164,2.817544e+06,5994486,405004.9191
216,Orange County,California,498997,115045.330700,0.180,2.817544e+06,5994486,383951.6693

In [35]:
adult_gap = senior_gap = enrolled_df[['County', 'State', 'adult_pop', 'Adult Pop Enrolled', 'Adult Medicaid Coverage Rate',
                          'State_Enrollment_Adult', 'State_Pop_Adult', 'Adult Gap']].sort_values(by='Adult Gap', ascending=False)
adult_gap.head(5)

,County,State,adult_pop,Adult Pop Enrolled,Adult Medicaid Coverage Rate,State_Enrollment_Adult,State_Pop_Adult,Adult Gap
2625,Harris County,Texas,2847531,7023.662604,0.009,4.628656e+05,17421175,103155.05580
1860,New York County,New York,1074639,68811.482120,0.183,1.526090e+06,11792026,57485.97788
104,Maricopa County,Arizona,2631225,76327.843100,0.118,3.355613e+05,4129440,41147.34490
2581,Dallas County,Texas,1574998,16570.685020,0.043,4.628656e+05,17421175,40810.67898
223,San Diego County,California,2005627,74748.946140,0.138,2.795148e+06,23493540,34458.87946

In [39]:
child_gap = enrolled_df[['County', 'State', 'child_pop', 'Child Pop Enrolled', 'Child Medicaid/CHIP Coverage Rate',
                          'State_Enrollment_Child', 'State_Pop_Child', 'Child Gap']].sort_values(by='Child Gap', ascending=False)
child_gap.head(5)

,County,State,child_pop,Child Pop Enrolled,Child Medicaid/CHIP Coverage Rate,State_Enrollment_Child,State_Pop_Child,Child Gap
104,Maricopa County,Arizona,1142683,1.875854e+05,0.290,6.336042e+05,1788801,955097.6229
2625,Harris County,Texas,1367585,4.463928e+05,0.572,1.883857e+06,8313623,921192.2212
205,Los Angeles County,California,2301933,1.412931e+06,0.356,4.428970e+06,9754759,889001.8880
223,San Diego County,California,783318,1.310815e+05,0.242,4.428970e+06,9754759,652236.5147
2581,Dallas County,Texas,729826,1.576142e+05,0.409,1.883857e+06,8313623,572211.8099